# Demo 02 - Gaps

In this demo, we will look at gaps in data.  Looking at gaps in data is important because it shows us where we might be missing individual data points.  If this is a set which should be complete, such as check numbers or invoice numbers, it might give you a telling indicator that there might be an issue.

For this demo, we will use pyodbc and ipython-sql.  pyodbc is an ODBC driver for Python, whereas ipython-sql allows you to use "sql magic" in Jupyter.  You can just as easily run the queries in SQL Server Management Studio if you prefer.

First, let's use pip to install pyodbc and ipython-sql and prep them for load.

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (4.0.23)

To load pyodbc, we can use the **import** statement.

In [2]:
import pyodbc

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython-sql) (6.4.0)
Requirement already satisfied: prettytable in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython-sql) (1.2.7)
Requirement already satisfied: six in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)
Requirement already satisfied: pickleshare in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: decorator in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.0)
Requirement already satisfied: setuptools>=18.5 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (39.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pygments in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: backcall in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from ipython>=1.0->ipython-sql) (0.12.0)
Requirement already satisfied: wcwidth in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.2.0 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.2.0)

To use SQL magic, we will need to run the following load command.

In [4]:
%reload_ext sql

From here on out, I can use the *%sql* command to run a single-line SQL command.  I can also use the *%%sql* command to run multi-line SQL commands.

The first thing I want to connect to the OutlierDetection database.  I have already created an ODBC connection pointing to localhost.OutlierDetection.  You do not need to use a pre-defined ODBC connection, but when connecting to SQL Server, I've found it easier to use a pre-defined connection.

In [5]:
%sql mssql+pyodbc://ForensicAccounting

'Connected: @None'

In our data, invoice number is the key value we use for tracking money.  This number should never have any gaps in it.

To test this, we will run a query which looks for gaps in the data.  Note that this uses syntax which Microsoft introduced in SQL Server 2012.  If you are using SQL Server 2008 R2 or earlier, you would need to use a different set of syntax to solve the gaps and islands problem.

In [6]:
%%sql WITH C AS
(
	SELECT
		li.LineItemID AS CurrentLineItemID,
		LEAD(li.LineItemID) OVER (ORDER BY li.LineItemID) AS NextLineItemID
	FROM dbo.LineItem li
)
SELECT
	CurrentLineItemID + 1 AS rangestart,
	NextLineItemID- 1 AS rangeend
FROM C
WHERE
	NextLineItemID - CurrentLineItemID > 1;

 * mssql+pyodbc://ForensicAccounting
Done.

[(6, 7), (14, 14), (20, 20), (199, 202), (339, 341)]

As an alternative to gap analysis, you can join to a tally (or numbers) table and look for cases in which there is no matching result in the invoices table.

This query first builds up a tally table, which is extremely fast for values up to around 10,000 records.  After about 10,000 tables, it might make more sense to build a tally table and store it on disk.

In [7]:
%%sql WITH
	t1 AS (SELECT 1 N UNION ALL SELECT 1 N),
	t2 AS (SELECT 1 N FROM t1 x, t1 y),
	t3 AS (SELECT 1 N FROM t2 x, t2 y),
	t4 AS (SELECT 1 N FROM t3 x, t3 y),
	Tally AS (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) N FROM t4 x, t4 y)
SELECT
	t.N
FROM Tally t
	LEFT OUTER JOIN dbo.LineItem li
		ON t.N = li.LineItemID
WHERE
	li.LineItemID IS NULL
	AND t.N >= (SELECT MIN(LineItemID) FROM dbo.LineItem imin)
	AND t.N <= (SELECT MAX(LineItemID) FROM dbo.LineItem imax)
ORDER BY
	T.N;

 * mssql+pyodbc://ForensicAccounting
Done.

[(6,),
 (7,),
 (14,),
 (20,),
 (199,),
 (200,),
 (201,),
 (202,),
 (339,),
 (340,),
 (341,)]